html, body
{
    background: url("../image/background.jpg") repeat;
}
body
{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}
a
{
    cursor: pointer;
}
.heading
{
    /*color: #245269;*/
}

.thumbnail
{
    /*background: #31708f;*/
}

.light-padding
{
    padding: 2px;
}
.normal-padding
{
    padding: 10px;
}

.bottom-column
{
    float: none;
    display: table-cell;
    vertical-align: bottom;
}

.img-container
{
    min-height: 180px;
}

.showPreview
{
    opacity: 1;
    transition: opacity 2s ease; /* You should probably browser-prefix this */
}

.hidePreview
{
    opacity: 0;
    transition: opacity 2s ease; /* You should probably browser-prefix this */
}

.ui-show
{
    width: 311px;
    height: 180px;
    opacity: 1;
    transition: height 0.5s, opacity 0.5s ease; /* You should probably browser-prefix this */
}
.ui-hide
{
    height: 50px;
    opacity: 0;
    transition: height 0.5s, opacity 0.5s ease; /* You should probably browser-prefix this */
}
.invalid-label
{
    color: #d9534f !important;
}
.invalid-input
{
    border-color: red;
}
.sm-margin
{
    margin: 2px;
}
.md-margin
{
    margin: 10px;
}


.noBorder
{
    border: none;
}

::-webkit-scrollbar
{
    width: 12px;
    height: 70%;
}

/* Track */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);*/
    -webkit-border-radius: 10px;
    background-color: transparent;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb
{
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #345d8b;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.light-blue
{
    background: url("../image/well-back6.png");
}

.removeBorder
{
    border: none;
}
.tabBorder
{
    border: 2px solid #DDD;

}

.removeMarginPadding
{
    margin: 0;
    padding: 0;
}

.input-group
{
    margin: 2px;
}


/* Bootstrap UI tab custom */
#mainTab > .nav-tabs
{
    border: none;
}

#mainTab > .nav-tabs > li
{
    width: 100%;
}
#mainTab > .nav-tabs > li > a
{
    border: 1px solid #DDD;
    background-color: white;
    border-top-right-radius: 0;
    margin-right: 0;
}
#mainTab > .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
{
    border-top: 2px solid #DDD;
    border-right: 2px solid #DDD;
    border-left: 2px solid #DDD;
    border-bottom: 2px solid #DDD;;

    margin-left: 4px;
    margin-right: 0;
    background: url("../image/well-back6.png");

    width: auto;
    color: white;
}

#subTab > .nav-tabs > li > a
{
    border: none;
    background: url("../image/well-back6.png");
    border-top-right-radius: 0;
    margin-right: 0;
    color: #d9edf7;
}
#subTab > .nav-tabs > li.active > a,
#subTab > .nav-tabs > li.active > a:hover,
#subTab > .nav-tabs > li.active > a:focus
{
    border-top: 2px solid #DDD;
    border-right: 2px solid #DDD;
    border-left: 2px solid #DDD;
    border-bottom: none;

    margin-left: 0;
    margin-right: 0;
    background: white;

    width: auto;
    color: black;
}

#subTab > .nav-tabs > li > a:hover
{
    color: black;
}

textarea {
    resize: none;
}

@media all and (max-width: 767px)
{
    .img-container
    {
        min-height: 0;
    }

    .ui-show
    {
        width: auto;
        height: auto;
        opacity: 1;
        transition: height 0.5s, opacity 0.5s ease; /* You should probably browser-prefix this */
    }
    .ui-hide
    {
        height: auto;
        opacity: 0;
        transition: height 0.5s, opacity 0.5s ease; /* You should probably browser-prefix this */
    }

    /* Bootstrap UI tab custom */
    #mainTab > .nav-tabs
    {
        border: none;
    }

    #mainTab > .nav-tabs > li
    {
        width: 33.3%;
    }
    #mainTab > .nav-tabs > li > a
    {
        border: 1px solid #DDD;
        background-color: white;
        border-top-right-radius: 5px;
        margin-right: 0;
    }
    #mainTab > .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
    {
        border-top: 2px solid #DDD;
        border-right: 2px solid #DDD;
        border-left: 2px solid #DDD;
        border-bottom: none;

        margin-left: 0;
        margin-right: 0;
        background: url("../image/well-back6.png");

        width: auto;
        color: white;
    }

    .form-control
    {
        font-size: 10px;
    }
}