<div class="container">

    <div class="row">

        <div class="col-lg-4 col-lg-offset-4">

            <div class="well">

                <h3 class="heading">
                    Reset Your Password
                </h3>

                <div class="form-group has-feedback"
                     ng-class="{'has-success': isUsernameValid(), 'has-error': !isUsernameValid()}">
                    <label class="src-only" for="username">Username</label>
                    <input type="text"
                           class="form-control"
                           id="username"
                           ng-model="username"
                           placeholder="Enter Username" />

                            <span class="glyphicon glyphicon-ok form-control-feedback"
                                  ng-class="{'glyphicon-ok': isUsernameValid(), 'glyphicon-remove': !isUsernameValid()}"></span>

                </div>

                <div class="form-group has-feedback"
                     ng-class="{'has-success': isPasswordValid(), 'has-error': !isPasswordValid()}">
                    <label class="src-only" for="password">New Password</label>
                    <input type="password"
                           class="form-control"
                           id="password"
                           ng-model="password"
                           placeholder="Enter Password" />

                            <span class="glyphicon glyphicon-ok form-control-feedback"
                                  ng-class="{'glyphicon-ok': isPasswordValid(), 'glyphicon-remove': !isPasswordValid()}"></span>
                </div>

                <div class="form-group has-feedback"
                     ng-class="{'has-success': isRepeatPasswordValid(), 'has-error': !isRepeatPasswordValid()}">
                    <label class="src-only" for="password2">Repeat Password</label>
                    <input type="password"
                           class="form-control"
                           id="password2"
                           ng-model="repeatPassword"
                           placeholder="Enter Password Again" />

                            <span class="glyphicon glyphicon-ok form-control-feedback"
                                  ng-class="{'glyphicon-ok': isRepeatPasswordValid(), 'glyphicon-remove': !isRepeatPasswordValid()}"></span>
                </div>

                <div class="form-group" ng-disabled = "true">
                    <label class="src-only" for="password2">Reset Key</label>
                    <input type="password"
                           class="form-control"
                           id="code"
                           ng-model="code"
                           ng-disabled = "true"/>

                </div>

                <div class="form-group text-center">
                    <button type="button"
                            class="btn btn-primary"
                            ng-disabled="!isAllFieldsValid()"
                            ng-click="resetPassword()">Reset Password!</button>
                </div>


            </div>

        </div>

    </div>

</div>
