<div class="container">

    <div class="row">

        <div class="col-lg-4 col-lg-offset-4">

            <div class="well" ng-hide="statusPanel">

                <h3 class="heading">
                    Reset Your Password
                </h3>

                <div class="form-group has-feedback"
                     ng-class="{'has-success': isPasswordValid(), 'has-error': !isPasswordValid()}">
                    <label class="src-only" for="password">New Password</label>
                    <input type="password"
                           class="form-control"
                           id="password"
                           ng-model="password"
                           placeholder="Enter Password" />

                            <span class="glyphicon glyphicon-ok form-control-feedback"
                                  ng-class="{'glyphicon-ok': isPasswordValid(), 'glyphicon-remove': !isPasswordValid()}"></span>
                </div>

                <div class="form-group has-feedback"
                     ng-class="{'has-success': isRepeatPasswordValid(), 'has-error': !isRepeatPasswordValid()}">
                    <label class="src-only" for="password2">Repeat Password</label>
                    <input type="password"
                           class="form-control"
                           id="password2"
                           ng-model="repeatPassword"
                           placeholder="Enter Password Again" />

                            <span class="glyphicon glyphicon-ok form-control-feedback"
                                  ng-class="{'glyphicon-ok': isRepeatPasswordValid(), 'glyphicon-remove': !isRepeatPasswordValid()}"></span>
                </div>

                <div class="form-group" ng-disabled = "true"
                     ng-class="{'has-success': !hasError, 'has-error': hasError}">
                    <label class="control-label" for="password2">Reset Key</label>
                    <input type="password"
                           class="form-control"
                           id="code"
                           ng-model="code"
                           ng-disabled = "true"/>

                </div>

                <div ng-bind="resetError" class="well text-danger text-center" ng-show="hasError"></div>

                <div class="form-group text-center">
                    <button type="button"
                            class="btn btn-primary"
                            ng-disabled="!isAllFieldsValid()"
                            ng-click="resetPassword()">Reset Password!</button>
                </div>

            </div>

            <!-- Status View -->
            <div class="well" ng-show="statusPanel">

                <div class="row">

                    <div class="col-lg-6 col-lg-offset-3 text-center">

                        <img src="../image/loading.gif" width="50" alt="loading image" />

                        <p ng-bind="statusMsg"></p>
                        <p ng-bind="statusSubMsg"></p>

                    </div>

                </div>

            </div>
            <!-- Status View -->

        </div>

    </div>

</div>
