
<div class="row" style="overflow: hidden !important;">

    <div class="col-lg-2 col-lg-offset-5" >

        <div class="well">

            <div ng-hide="inProcess">

                <h3 class="heading">
                    Verify Your Account
                </h3>

                <div class="form-group has-feedback"
                     ng-class="{'has-success': isUsernameValid(), 'has-error': !isUsernameValid()}">

                    <labe class="control-label" for="username">Username</labe>
                    <input type="text"
                           class="form-control"
                           id="username"
                           ng-model="username"
                           placeholder="Enter Username">

                    <span class="glyphicon glyphicon-ok form-control-feedback"
                            ng-class="{'glyphicon-ok': isUsernameValid(), 'glyphicon-remove': !isUsernameValid()}"></span>

                </div>

                <div class="form-group has-feedback"
                     ng-class="{'has-success': isCodeValid(), 'has-error': !isCodeValid()}">

                    <labe class="control-label" for="code">Verification Code</labe>
                    <input type="text"
                           class="form-control"
                           id="code"
                           ng-model="code"
                           placeholder="Enter Code">

                    <span class="glyphicon glyphicon-ok form-control-feedback"
                          ng-class="{'glyphicon-ok': isCodeValid(), 'glyphicon-remove': !isCodeValid()}"></span>

                </div>

                <div class="well alert-danger" ng-hide="!error">
                    <p ng-bind="status"></p>
                    <p ng-bind="subStatus"></p>
                </div>


                <div class="form-group text-center">
                    <button type="button"
                            class="btn btn-primary"
                            ng-disabled="!isAllFieldsValid()"
                            ng-click="verify()">Verify</button>
                </div>

            </div>

            <div ng-hide="!inProcess" class="text-center">
                <img src="../image/loading.gif" width="50" ng-hide="verificationComplete" alt="loading image"/>

                <div ng-hide="!verificationComplete">
                    <span class="glyphicon glyphicon-check" style="font-size: 25px; color: lightgreen"></span>
                </div>

                <p class="lead" ng-bind="status"></p>
                <p class="lead" ng-bind="subStatus"></p>
            </div>


        </div>

    </div>

</div>


