<div id="globalfeed"
     ng-controller="globalFeedController"
     when-scrolled="loadMore()"
     style="height: 400px; overflow-y: scroll; overflow-x: hidden;">

    <div ng-repeat="image in items">

        <div class="row" style="margin: 10px;">

            <div class="col-md-5">
                <img class="img-responsive img-thumbnail" ng-src="{{image['image']['directory']}}" />
            </div>

            <div class="col-md-4">

                <h1 ng-bind="image['image']['name']">
                </h1>

                <p ng-bind="image['image']['description']"></p>
                <blockquote class="caption">
                    <footer class="" ng-bind="image['image']['username'] | uppercase" style="color: white;"><cite title="Source Title"></cite></footer>
                </blockquote>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="alert alert-warning"
                             style="display: inline; cursor: pointer;"
                                ng-click="showImageDetails($index)">
                            <span class="badge">{{image.image.comments.length}} </span>
                            <span >Comments</span>
                        </div>

                    </div>
                </div>

            </div>

        </div>


    </div>

</div>


