<div id="globalfeed"
     ng-controller="globalFeedController"
     when-scrolled="loadMore()"
     style="height: 390px; overflow-y: scroll; overflow-x: hidden;">

    <div ng-repeat="image in items">

        <div class="row">

            <div class="col-lg-5 col-xs-12">
                <img class="img-responsive img-thumbnail" ng-src="{{image['image']['directory']}}" />
            </div>

            <div class="col-lg-4 col-xs-12">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="text-center" ng-bind="image['image']['name']"></h1>

                        <p ng-bind="image['image']['description']"></p>

                        <blockquote class="caption">
                            <a ng-href="http://pixel.laertesousa.com/#/profile/{{image.image.username}}">
                            <footer class="" ng-bind="image['image']['username'] | uppercase" style="color: white;">
                                <cite title="Source Title"></cite>
                            </footer>
                            </a>
                            <span class=""
                                 style="cursor: pointer;"
                                 ng-click="showImageDetails($index)">

                                <span class="btn btn-sm btn-warning">
                                    <span class="badge">{{image.image.comments.length}} </span>
                                    Comments
                                </span>
                            </span>
                        </blockquote>
                    </div>
                </div>
            </div>

        </div>

        <br />
    </div>

</div>


