<div ng-controller="profileController">



    <input id="profileUpload"
           type="file"
           name="files"
           read-profile
           style="display:none;"/>

    <!-- Top Info -->
    <div class="row">

        <!-- Profile Editor Toolbar -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-md-xs-12">
            <img class="img-responsive img-thumbnail" ng-src="{{data['profile_picture']}}" />

            <div class="btn-group btn-group-sm"
                    style="margin-top: 2px;">
                <button class="btn btn-sm btn-warning"
                        onclick="$('#profileUpload').click()">
                    Update Picture
                </button>

                <button class="btn btn-sm btn-warning"
                        data-toggle="tooltip"
                        title="Edit"
                        ng-click="openInfoEditModal()">
                    Edit Profile Info
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </div>

        </div>
        <!-- Profile Editor Toolbar -->

        <!-- Main Info -->
        <div class="col-lg-8 col-md-8 col-sm-8 col-md-xs-12">
            <h1 ng-bind="data['fullname']" style="display: inline-block;"></h1>

            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="input-group">
                                <span class="input-group-addon"
                                      style="width: 110px;">
                                    Major
                                </span>
                                <span class="form-control"
                                      ng-bind="data.major">
                                </span>
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon"
                                      style="width: 110px;">
                                    Gender
                                </span>
                                <span class="form-control" ng-bind="data.gender"></span>
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon"
                                      style="width: 110px;">
                                    Relationship
                                </span>
                                <span class="form-control" ng-bind="data.relationship"></span>
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon"
                                      style="width: 110px;">
                                    Birthday
                                </span>
                                <span class="form-control" ng-bind="convertToDate(data.DOB) | date:'longDate'"></span>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- Main Info -->

    </div>
    <!-- Top Info -->

    <!-- Bottom Info -->
    <div class="row" style="margin-top: 10px;">
        <div class="col-lg-12">

            <tabset id="subTab">

                <tab heading="About">

                    <div class="well"
                         style="border-top-left-radius: 0; border-top-right-radius: 0;">

                        <div class="row">

                            <div class="col-md-10 col-md-offset-1">
                                <div class="panel panel-info">

                                    <div class="panel-heading">
                                        Biography
                                        <button class="btn btn-xs btn-warning btn-toolbar pull-right"
                                                data-toggle="tooltip"
                                                title="Edit"
                                                ng-click="openAboutEditModal()">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    </div>
                                    <div class="panel-body">
                                        <p ng-bind="data.biography"></p>
                                    </div>

                                </div>

                                <div class="panel panel-info">

                                    <div class="panel-heading">
                                        Hobbies
                                        <button class="btn btn-xs btn-warning btn-toolbar pull-right"
                                                data-toggle="tooltip"
                                                title="Edit"
                                                ng-click="openAboutEditModal()">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    </div>

                                    <div class="panel-body">
                                        <p ng-bind="data.hobbies"></p>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </tab>

                <tab heading="Gallery">
                    <div class="well" style="border-top-left-radius: 0; border-top-right-radius: 0;">

                        <!-- Display Albums -->
                        <div class="row" ng-show="!showImages">
                            <div class="col-lg-4 col-md-6 col-xs-12"
                                 ng-repeat="album in albums track by $index">

                                <!-- Albums Container -->
                                <div class="panel panel-info" >

                                    <!-- Albums Name -->
                                    <div class="panel-heading"style="cursor:pointer;"
                                         ng-click="showAlbumImages($index)">
                                        {{album.name | uppercase}}
                                    </div>
                                    <!-- Albums Name -->

                                    <!-- Album Content -->
                                    <div class="panel-body">

                                        <!-- Preview of 4 latest images -->
                                        <div class="row">

                                            <div class="col-lg-6 col-md-6 col-xs-6"
                                                 ng-repeat="image in album.images | limitTo: 4">
                                                <div>

                                                    <img class="img-rounded img-responsive"
                                                         style="margin: 5px;"
                                                         ng-src="{{image['thumbnail']}}"
                                                            />
                                                </div>
                                            </div>

                                        </div>
                                        <!-- Preview of 4 latest images -->

                                        <!-- ToolBar -->
                                        <div class="row">
                                            <div class="col-lg-12 btn-group" style="margin-top: 10px;">

                                                <!-- Edit Button -->
                                                <!--<button class="btn btn-sm btn-warning btn-toolbar"
                                                        data-toggle="tooltip"
                                                        title="Edit"
                                                        ng-click="openInfoEditModal()">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>-->
                                                <!-- Edit Button -->

                                                <!-- Remove Button -->
                                                <button class="btn btn-sm btn-danger"
                                                        ng-click="openAlbumRemovalModal($index)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                                <!-- Remove Button -->

                                            </div>
                                        </div>
                                        <!-- ToolBar -->

                                    </div>
                                    <!-- Album Content -->

                                </div>
                                <!-- Albums Container -->

                            </div>
                        </div>
                        <!-- Display Albums -->

                        <!-- Display Album's Images -->
                        <div ng-show="showImages">

                            <button type="button" class="btn btn-info btn-md" ng-click="toggleImages()">
                                <span class="glyphicon glyphicon-arrow-left"></span> Back
                            </button>

                            <div class="row">
                                <div class="col-md-4"
                                     ng-repeat="imageInfo in albumImages">

                                    <div class="row light-padding" >
                                        <div class="col-md-12 thumbnail">

                                            <div class="row"
                                                 style="min-height: 355px;">

                                                <!-- Image Thumbnail -->
                                                <div class="col-lg-12 col-xs-12">
                                                    <div class="img-container">

                                                        <img id="{{imageInfo['ID']}}"
                                                             class="img-rounded img-responsive img-thumbnail"
                                                             ng-src="{{imageInfo['thumbnail']}}"
                                                                />
                                                    </div>
                                                </div>
                                                <!-- Image Thumbnail -->

                                                <!-- Image Name -->
                                                <div class="col-lg-12 col-xs-12 text-center">
                                                    <h3 class="" ng-bind="imageInfo['name']"></h3>
                                                </div>
                                                <!-- Image Name -->

                                                <!-- Image Description -->
                                                <div class="col-lg-12 col-xs-12 ">
                                                    <p class="well well-sm"
                                                       style="min-height: 100px; margin-bottom: 2px;"
                                                       ng-bind="imageInfo['description']"></p>
                                                </div>
                                                <!-- Image Description -->
                                            </div>

                                            <!-- Image Toolbar -->
                                            <div class="row">
                                                <div class="col-lg-12 btn-group"
                                                     style="margin-left: 5px; margin-top: 0px; margin-bottom: 2px;">

                                                    <button class="btn btn-sm btn-warning btn-toolbar"
                                                            data-toggle="tooltip"
                                                            title="Edit"
                                                            ng-click="openImageEditorModal($index)">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>

                                                    <button class="btn btn-sm btn-danger"
                                                            ng-click="openImageRemovalModal($index)"
                                                            >
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>

                                                </div>
                                            </div>
                                            <!-- Image Toolbar -->

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <!-- Display Album's Images -->

                    </div>
                </tab>

            </tabset>

        </div>
    </div>
    <!-- Bottom Info -->


    <!-- Modals -->
    <div ng-include src="'../../templates/imageRemovalModal.html'"></div>
    <div ng-include src="'../../templates/imageEditorModal.html'"></div>
    <div ng-include src="'../../templates/albumRemovalModal.html'"></div>
    <div ng-include src="'../../templates/infoEditModal.html'"></div>
    <div ng-include src="'../../templates/aboutEditModal.html'"></div>
    <!-- Modals -->

</div>



