<div ng-controller="profileController">

    <!-- Top Info -->
    <div class="row">

        <div class="col-md-4">
            <img class="img-responsive img-thumbnail" ng-src="{{data['profile_picture']}}" />
        </div>

        <!-- Main Info -->
        <div class="col-md-8">

            <h1 ng-bind="data['fullname']"></h1>

            <div class="row">

                <div class="col-md-12">

                    <div class="row">

                        <div class="col-md-12">

                            <div class="input-group">
                                <span class="input-group-addon"
                                      style="width: 110px;">
                                    Major
                                </span>
                                <span class="form-control"
                                      ng-bind="data.major">

                                </span>
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon"
                                      style="width: 110px;">
                                    Gender
                                </span>
                                <span class="form-control" ng-bind="data.gender"></span>
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon"
                                      style="width: 110px;">
                                    Relationship
                                </span>
                                <span class="form-control" ng-bind="data.relationship"></span>
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon"
                                      style="width: 110px;">
                                    Birthday
                                </span>
                                <span class="form-control" ng-bind="data.DOB"></span>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>
        <!-- Main Info -->

    </div>
    <!-- Top Info -->

    <!-- Bottom Info -->
    <div class="row" style="margin-top: 10px;">

        <div class="col-md-12">

            <tabset id="subTab">

                <tab heading="About">

                    <div class="well" style="border-top-left-radius: 0; border-top-right-radius: 0;">

                        <div class="row">

                            <div class="col-md-10 col-md-offset-1">
                                <div class="panel panel-info">

                                    <div class="panel-heading">Hobbies</div>
                                    <div class="panel-body">
                                        <p ng-bind="data.hobbies"></p>
                                    </div>

                                </div>

                                <div class="panel panel-info">

                                    <div class="panel-heading">Biography</div>
                                    <div class="panel-body">
                                        <p ng-bind="data.biography"></p>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </tab>

                <tab heading="Gallery">

                    <div class="well" style="border-top-left-radius: 0; border-top-right-radius: 0;">

                        <div class="row" ng-hide="showImages">

                            <div class="col-md-4"
                                 ng-repeat="album in albums track by $index">

                                <div class="panel panel-default" style="cursor:pointer;"
                                     ng-click="showAlbumImages(album.ID)">

                                    <div class="panel-heading">
                                        {{album.name | uppercase}}
                                    </div>

                                    <div class="panel-body">
                                        <div class="row">

                                            <div class="col-md-4 "
                                                 ng-repeat="image in albumImages | limitTo: 3">
                                                <div>

                                                    <img
                                                         class="img-rounded img-responsive"
                                                         ng-src="{{image['directory']}}"
                                                            />
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div ng-hide="!showImages">

                            <button type="button" class="btn btn-info btn-md" ng-click="toggleImages()">
                                <span class="glyphicon glyphicon-arrow-left"></span> Back
                            </button>

                            <div class="row">

                                <div class="col-md-4" ng-repeat="imageInfo in albumImages">

                                    <div class="row light-padding" >

                                        <div class="col-md-12 thumbnail" >

                                            <div class="row">

                                                <div class="col-lg-12 col-xs-6">
                                                    <div class="img-container">

                                                        <img id="{{imageInfo['ID']}}"
                                                             class="img-rounded img-responsive img-thumbnail"
                                                             ng-src="{{imageInfo['directory']}}"
                                                                />
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 col-xs-6">
                                                    <blockquote class="caption">

                                                        <p ng-bind="imageInfo['name']"></p>
                                                        <footer ng-bind="imageInfo['username']"><cite title="Source Title"></cite></footer>

                                                    </blockquote>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </tab>

            </tabset>

        </div>

    </div>
    <!-- Bottom Info -->

</div>



