<form ng-controller="uploadController">

    <input id="uploadSelector"
           type="file"
           name="files[]"
           read-file multiple
           style="display:none;"/>

    <div class="row">

        <div class = "col-lg-6 col-md-6 col-sm-4 col-xs-3">
            <div class="form-group">
                <button class="btn btn-lg btn-primary" style="margin: 5px;"
                        onclick="$('#uploadSelector').click()">
                    Add File
                </button>

            </div>
        </div>

        <div class = "col-lg-6 col-md-6 col-sm-8 col-xs-9">

            <div class="form-inline has-feedback pull-right"
                 ng-class="{'has-success' : isAlbumValid(), 'has-error' : !isAlbumValid()}">

                <input type="text"
                       style="width: 150px; margin-right: 0; display: inline-block;"
                       class="form-control"
                       ng-model="newAlbum"
                       placeholder="Album's Name">


                <button type="submit"
                        class="form-group btn btn-default"
                        ng-click="createAlbum()"
                        ng-disabled="!isAlbumValid(newAlbum)">Add</button>
            </div>


        </div>



    </div>

    <div class="row">

        <div class="col-lg-4"
             ng-repeat="file in files">

            <div class="img-container thumbnail" style="padding: 5px;">

                <img class="img-rounded img-responsive img-thumbnail"
                     ng-src="{{file['source']}}"
                     />

                <div class="progress" style="margin: 5px;">

                    <div class="progress-bar progress-bar-striped active"
                         role="progressbar"
                         aria-valuenow="45"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         style="width: {{file.progress}}%">

                        <span class="src-only">
                            {{file.progress}}% Complete
                        </span>
                     </div>
                </div>

                <fieldset>

                    <div class="form-group has-feedback"
                         ng-class="{'has-success' : isNameValid(file.name), 'has-error' : !isNameValid(file.name)}">
                        <label class="control-label">Name</label>
                        <input type="text"
                               class="form-control"
                               placeholder="Name"
                               ng-model="file.name"
                                />
                        <span class="glyphicon glyphicon-ok form-control-feedback"
                                ng-class="{'glyphicon-ok': isNameValid(file.name), 'glyphicon-remove': !isNameValid(file.name)}"></span>
                    </div>

                    <div class="form-group has-success"
                         ng-class="{'has-success' : isAlbumSelected(file.album), 'has-error' : !isAlbumSelected(file.album)}">

                        <label class="control-label">Album</label>
                        <select class="form-control"
                                ng-model="file.album"
                                ng-options="album as album.name for album in albums"></select>

                    </div>

                    <div class="form-group has-feedback"
                         ng-class="{'has-success' : isDescriptionValid(file.description), 'has-error' : !isDescriptionValid(file.description)}">
                        <label class="control-label">Description</label>
                        <textarea  type="text"
                                   class="form-control"
                                   rows="8"
                                   placeholder="Describe your image here!"
                                   ng-model="file.description"
                                   multiline
                                />
                        <span style="margin:5px;">{{file.description.length}} / 150</span>
                        <span class="glyphicon glyphicon-ok form-control-feedback"
                              ng-class="{'glyphicon-ok': isDescriptionValid(file.description), 'glyphicon-remove': !isDescriptionValid(file.description)}"></span>
                    </div>

                    <button class="btn btn-sm btn-info text-center"
                            ng-click="uploadFile($index)"
                            ng-disabled="!isUploadEnabled($index)">Upload</button>

                </fieldset>

            </div>

        </div>

    </div>
</form>