<!--Login Modal -->
<div ng-controller="loginController" id="loginModal" class="modal fade" tab-index="-1" >

    <div class="modal-dialog">

        <div class="modal-content">


            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Portal Login</h4>
            </div>

            <div class="modal-body">

                <!-- Login View -->
                <div class="row" ng-hide="(statusPanel || forgotPasswordPanel)">

                    <div class="col-lg-6 col-lg-offset-3">

                        <label class="src-only" for="username" ng-class="{'invalid-label': hasLoginError}">Username</label>
                        <input type="text"
                               class="form-control"
                               name="username"
                               placeholder="Enter Username"
                               ng-model="username"
                               ng-class="{'invalid-input': hasLoginError}"/>

                        <label class="src-only" for="password" ng-class="{'invalid-label': hasLoginError}">Password</label>
                        <input type="password"
                               class="form-control"
                               name="password"
                               placeholder="Enter Password"
                               ng-model="password"
                               ng-class="{'invalid-input': hasLoginError}"/>


                        <div ng-bind="loginError" class="text-danger text-center"></div>

                        <a class="form-control noBorder text-center" ng-click="forgotPasswordPanel = true;">Forgot Password?</a>

                    </div>

                </div>
                <!-- Login View -->

                <!-- Password Recover View -->
                <div class="row" ng-show="(forgotPasswordPanel && !statusPanel)">

                    <div class="col-lg-3">

                        <a class="pull-left" ng-click="forgotPasswordPanel = false;">
                            <span class="glyphicon glyphicon-arrow-left" style="font-size: 18px;"></span>
                        </a>

                    </div>

                    <div class="col-lg-6">

                        <div class="form-group has-feedback"
                             ng-class="{'has-success': (isEmailValid() && !hasRecoverError), 'has-error': (!isEmailValid() || hasRecoverError)}">
                            <label class="src-only" for="email">Email</label>
                            <input type="text"
                                   class="form-control"
                                   id="email"
                                   ng-model="email"
                                   placeholder="Enter Email" />

                            <span class="glyphicon glyphicon-ok form-control-feedback"
                                  ng-class="{'glyphicon-ok': (isEmailValid() && !hasRecoverError), 'glyphicon-remove': (!isEmailValid() || hasRecoverError)}"></span>

                        </div>

                        <div ng-bind="recoverError" class="text-danger text-center"></div>

                    </div>

                </div>
                <!-- Password Recover View -->

                <!-- Status View -->
                <div class="row" ng-show="statusPanel">

                    <div class="col-lg-3">

                        <a class="pull-left" ng-click="(previousPanel())">
                            <span class="glyphicon glyphicon-arrow-left" style="font-size: 18px;"></span>
                        </a>

                    </div>

                    <div class="col-lg-6 text-center">

                        <img src="../image/loading.gif" width="50" alt="loading image" ng-show="loadingImage"/>

                        <p ng-bind="statusMsg"></p>
                        <p ng-bind="statusSubMsg"></p>

                    </div>

                </div>
                <!-- Status View -->



            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-md" ng-click="signIn()" ng-show="!forgotPasswordPanel">Log In!</button>
                <button type="button" class="btn btn-primary btn-md" ng-click="recoverPassword()" ng-show="forgotPasswordPanel">Recover Password!</button>
            </div>

        </div>

    </div>

</div>
<!--Login Modal -->