<!--Register Modal -->
<div ng-controller="pictureDetailsController" id="pictureDetailsModal" class="modal fade" tab-index="-1" >

    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <div class="modal-header noBorder">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>

            <div class="modal-body">

                <div class="row text-center">
                    <div class="col-lg-4 col-lg-offset-4">
                        <h1 ng-bind="image.name" style="margin-top: 0px;"></h1>
                    </div>
                </div>

                <div class="row container-fluid">

                    <div class="col-lg-7">

                        <img class="img-thumbnail" width="100%" ng-src="{{original}}" />


                        <blockquote class="caption">
                            <p ng-bind="image['description']"></p>
                            <a ng-click="visitProfile(image.username)">
                                <footer class="black" ng-bind="image['username'] | uppercase" style="color: white;">
                                    <cite title="Source Title"></cite>
                                </footer>
                            </a>
                        </blockquote>

                    </div>

                    <div class="col-lg-5 well" style="height: 500px; word-wrap:break-word;">

                        <div class="row" id="commentScroll" style="height:300px; overflow-y: scroll;">

                            <div class="col-lg-12">

                                <div class="row well well-sm" ng-repeat="comment in image.comments">

                                    <div class="col-lg-2 thumbnail">
                                        <a ng-click="visitProfile(image.username)">
                                            <img height="auto" ng-src="{{comment.profilePicture}}" />
                                        </a>
                                    </div>

                                    <div class="col-lg-9">

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <a ng-click="visitProfile(image.username)">
                                                    <h4 ng-bind="comment.poster"></h4>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p ng-bind="comment.comment"></p>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="row">

                            <div class="col-lg-12">
                                <div class="form-group has-feedback"
                                     ng-class="{'has-success' : isCommentValid(), 'has-error' : !isCommentValid()}">
                                    <label class="control-label">Comment</label>
                                    <textarea  type="text"
                                               class="form-control"
                                               rows="4"
                                               placeholder="Add a comment!"
                                               ng-model="comment"
                                               multiline
                                            />
                                    <span style="margin:5px;">{{comment.length}} / 150</span>
                                <span class="glyphicon glyphicon-ok form-control-feedback"
                                      ng-class="{'glyphicon-ok': isCommentValid(), 'glyphicon-remove': !isCommentValid()}"></span>

                                    <button class="btn btn-sm btn-info pull-right"
                                            style="width: 100px; margin-top: 2px;"
                                            ng-click="addComment()"
                                            ng-disabled="!isCommentValid()">Add</button>
                                </div>


                            </div>


                        </div>



                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
<!--Register Modal -->