<!--Register Modal -->
<div ng-controller="registerController" id="registerModal" class="modal fade" tab-index="-1" >

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Be One of Us</h4>
            </div>

            <div class="modal-body">

                <div class="row">

                    <div class="col-lg-6 col-lg-offset-3">

                        <div class="form-group has-feedback"
                             ng-class="{'has-success': isUsernameValid(), 'has-error': !isUsernameValid()}">
                            <label class="src-only" for="username">Username</label>
                            <input type="text"
                                   class="form-control"
                                   id="username"
                                   ng-model="username"
                                   placeholder="Enter Username" />

                            <span class="glyphicon glyphicon-ok form-control-feedback"
                                  ng-class="{'glyphicon-ok': isUsernameValid(), 'glyphicon-remove': !isUsernameValid()}"></span>

                        </div>

                        <div class="form-group has-feedback"
                             ng-class="{'has-success': isPasswordValid(), 'has-error': !isPasswordValid()}">
                            <label class="src-only" for="password">Password</label>
                            <input type="password"
                                   class="form-control"
                                   id="password"
                                   ng-model="password"
                                   placeholder="Enter Password" />

                            <span class="glyphicon glyphicon-ok form-control-feedback"
                                  ng-class="{'glyphicon-ok': isPasswordValid(), 'glyphicon-remove': !isPasswordValid()}"></span>
                        </div>

                        <div class="form-group has-feedback"
                             ng-class="{'has-success': isRepeatPasswordValid(), 'has-error': !isRepeatPasswordValid()}">
                            <label class="src-only" for="password2">Repeat Password</label>
                            <input type="password"
                                   class="form-control"
                                   id="password2"
                                   ng-model="repeatPassword"
                                   placeholder="Enter Password Again" />

                            <span class="glyphicon glyphicon-ok form-control-feedback"
                                  ng-class="{'glyphicon-ok': isRepeatPasswordValid(), 'glyphicon-remove': !isRepeatPasswordValid()}"></span>
                        </div>

                        <div class="form-group has-feedback"
                             ng-class="{'has-success': isEmailValid(), 'has-error': !isEmailValid()}">
                            <label class="src-only" for="email">Purchase Email Address</label>
                            <input type="email"
                                   class="form-control"
                                   id="email"
                                   ng-model="email"
                                   placeholder="Enter Email" />

                            <span class="glyphicon glyphicon-ok form-control-feedback"
                                  ng-class="{'glyphicon-ok': isEmailValid(), 'glyphicon-remove': !isEmailValid()}"></span>
                        </div>



                    </div>

                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="register()">Sign Up!</button>
            </div>

        </div>

    </div>

</div>
<!--Register Modal -->